* {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
.gameboard {
  max-width: 1050px;
  margin: 0 auto;
}
.instructions > p > span {
  font-weight: bold;
}
.score {
  text-align: center;
  margin-bottom: 10px;
}
.score > div {
  margin-bottom: 10px;
}
.score > div > span:nth-of-type(1) {
  font-weight: bold;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  outline: 1px solid black;
}
.card img {
  width: 200px;
  height: auto;
  image-rendering: pixelated;
}
